@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900 antialiased;
  font-family: "Inter", sans-serif;
}

section {
  scroll-margin-top: 100px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}
